<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Esqueci Minha Senha</title>
<style>
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #007bff;
	color: white;
}

.card {
	width: 100%;
	max-width: 1000px;
	background-color: #ffffff;
	color: #000;
	padding: 20px;
	border-radius: 10px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">

				#{if flash.error}
				<div class="alert alert-danger">${flash.error}</div>
				#{/if}

				<div class="card">
					<div class="card-header text-center">
						<h4>Esqueci Minha Senha</h4>
					</div>
					<div class="card-body">
						<form action="@{Logins.solicitarNovaSenha}" method="POST">
							<div class="form-group">
								<label for="email">E-mail</label> <input name="email"
									type="email" class="form-control" id="email" required>
							</div>

							<button type="submit" class="btn btn-primary btn-block">Solicitar
								nova senha</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>